body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #494949;
    background: #fafafa;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

.button {
    color: black;
    background: lightgray;
    border-radius: 5px;
    padding: 7px;
    text-decoration: none;
    margin: 5px;

}

.highlight-y {
    background-color: lightyellow;
}

.highlight-b {
    background-color: lightblue;
}

.text-g {
    color: #808080;
}

.content-body {
    width: 80%;
    translate: 5%;
}

.image-banner {
    width: 100%;
    max-height: 30vh;
    object-fit: cover;
    object-position: 0% 55%;
    margin-bottom: 10px
}

.flex-container, .flex-buttons {
    display: flex;
}

.flex-container {
    justify-content: space-between;
}

.ball-area {
    height: 50vh;
    width: 100%;
}

.ball {
    padding: 25px;
    color: white;
    background-color: #000000;
    border-color: #000000;
    border-radius: 50px;
    position: relative;
}